<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Common Fragment</title>
</head>
<body>
<th:block th:fragment="salesFragment">
	<!-- 모델 값으로 분기 처리 -->
	<th:block th:switch="${pageType}">
		<!-- Review 페이지 -->
		<th:block th:case="'review'">
            <span th:with="listUrl=@{/seller/review(
                s_idx=${s_idx != 0 ? s_idx : null},
                itemNum=${itemNum != '' ? itemNum : null},
                buyerNickname=${buyerNickname != '' ? buyerNickname : null},
                startDate=${startDate != null ? startDate : null},
                endDate=${endDate != null ? endDate : null}
            )}"></span>
		</th:block>
		<th:block th:case="'sales.html'">
                <span th:with="listUrl=@{/sales(
                    orderNum=${orderNum != '' ? orderNum : null},
                    orderNickname=${orderNickname != '' ? orderNickname : null},
                    orderState=${orderState != 0 ? orderState : null},
                    startDate=${startDate != null ? startDate : null},
                    endDate=${endDate != null ? endDate : null},
                    s_idx=${s_idx != 0 ? s_idx : null}
                )}"></span>
		</th:block>

		<th:block th:case="'viewEdit.html'">
                <span th:with="listUrl=@{/viewEdit(
                    itemNum=${itemNum != '' ? itemNum : null},
                    itemName=${itemName != '' ? itemName : null},
                    itemState=${itemState != 0 ? itemState : null},
                    largeCategory=${!#strings.isEmpty(largeCategory) ? largeCategory : null},
                    smallCategory=${!#strings.isEmpty(smallCategory) ? smallCategory : null},
                    startDate=${startDate != null ? startDate : null},
                    endDate=${endDate != null ? endDate : null},
                    s_idx=${s_idx != 0 ? s_idx : null}
                )}"></span>
		</th:block>

		<th:block th:case="'list.html'">
                <span th:with="listUrl=@{/list(
                    searchWord=${!#strings.isEmpty(searchWord) ? searchWord : null},
                    searchField=${!#strings.isEmpty(searchWord) ? searchField : null},
                    orderByType=${!#strings.isEmpty(orderByType) ? orderByType : null},
                    p_idx=${p_idx != 0 ? p_idx : null},
                    c_idx=${c_idx != 0 ? c_idx : null},
                    viewNum=${!#strings.isEmpty(viewNum) ? viewNum : null}
                )}"></span>
		</th:block>
	</th:block>

	<!-- 페이징 -->
	<div class="pagination" th:if="${pageNav.total_pageNum > 1}">
		<!-- 첫 페이지와 이전 블록으로 이동 -->
		<th:block th:if="${pageNav != null and pageNav.pageNum > pageNav.pages_pageBlock}">
			<a th:href="@{${listUrl}(pageNum=1, pageBlock=1)}">&lt;&lt;</a>&nbsp;
			<a th:href="@{${listUrl}(pageNum=${(pageNav.pageBlock - 2) * pageNav.pages_pageBlock + 1}, pageBlock=${pageNav.pageBlock - 1})}">이전</a>
		</th:block>

		<!-- 페이지 번호 -->
		<th:block th:each="p : ${#numbers.sequence((pageNav.pageBlock - 1) * pageNav.pages_pageBlock + 1, pageNav.pageBlock * pageNav.pages_pageBlock)}">
			<th:block th:if="${p <= pageNav.total_pageNum}">
				<a th:href="@{${listUrl}(s_idx=${s_idx}, pageNum=${p}, pageBlock=${pageNav.pageBlock})}">
					<span th:class="${p == pageNav.pageNum} ? 'active' : ''" th:text="${p} + ' '"></span>
				</a>
			</th:block>
		</th:block>

		<!-- 다음 블록과 마지막 페이지로 이동 -->
		<th:block th:if="${pageNav != null and pageNav.total_pageNum > (pageNav.pageBlock * pageNav.pages_pageBlock)}">
			<a th:href="@{${listUrl}(pageNum=${(pageNav.pageBlock * pageNav.pages_pageBlock) + 1}, pageBlock=${pageNav.pageBlock + 1})}">다음</a>&nbsp;
			<a th:href="@{${listUrl}(pageNum=${pageNav.total_pageNum}, pageBlock=${pageNav.last_pageBlock})}">&gt;&gt;</a>
		</th:block>
	</div>
</th:block>
</body>
</html>