<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/resources/css/buyer/user/buyerUpdateSideMenu.css}">
	<script th:src="@{/resources/js/buyer/user/buyerUpdateSideMenu.js}"></script>
</head>

<body>
<div th:fragment="sideMenu">
	<div class="m_buyerUpdateSideMenu_header1">
		<div class="m_buyerUpdateSideMenu_header">
			<div class="m_buyerUpdateSideMenu_header_acc">
				<a th:href="@{/buyer/buyerServiceInfo(b_idx=${buyer.b_idx})}" th:text="#{account.title}">계정</a>
				| <span th:text="#{luna.id.management}">Luna ID 관리</span>
			</div>
			<div class="m_buyerUpdateSideMenu_loar">
				<a th:href="@{/buyer/buyerLogout}" class="m_buyerUpdateSideMenu_logout" th:text="#{logout}">로그아웃
					<div class="arrow_small a12"></div>
				</a>
			</div>
		</div>
	</div>

	<div class="m_buyerUpdateSideMenu_mainregion">
		<div class="m_buyerUpdateSideMenu_sideregion">
			<img th:src="@{/uploads/{buyerProfile}(buyerProfile=${buyer.b_profile})}"
				 class="m_buyerUpdateSideMenu_proflie" alt="이미지를 찾을 수 없음">
			<div class="m_buyerUpdateSideMenu_username" th:text="${buyer.b_nickname}"></div>
			<div class="m_buyerUpdateSideMenu_useremail" th:text="${buyer.b_email}"></div>
			<div class="m_buyerUpdateSideMenu_side_region"></div>
			<div class="m_buyerUpdateSideMenu_side">
				<a th:href="@{/buyer/buyerUpdatePage}" class="m_buyerUpdateSideMenu_sidemanu" id="page" th:text="#{profile.public}">공개 프로필</a>
			</div>
			<div class="m_buyerUpdateSideMenu_side">
				<a th:href="@{/buyer/buyerUpdatePage1(b_idx=${buyer.b_idx})}" class="m_buyerUpdateSideMenu_sidemanu" id="page1" th:text="#{personal.info}">개인 정보</a>
			</div>
			<div class="m_buyerUpdateSideMenu_side">
				<a th:href="@{/buyer/buyerUpdatePage2}" class="m_buyerUpdateSideMenu_sidemanu" id="page2" th:text="#{login.security}">로그인 및 보안</a>
			</div>
			<div class="m_buyerUpdateSideMenu_side">
				<a th:href="@{/buyer/buyerUpdatePage3}" class="m_buyerUpdateSideMenu_sidemanu" id="page3" th:text="#{payment.management}">결제 관리</a>
			</div>
			<div class="m_buyerUpdateSideMenu_side">
				<div class="m_buyerUpdateSideMenu_sidemanu_cancel" id="cancelOpenBtn" th:text="#{membership.withdrawal}">회원 탈퇴</div>
			</div>
		</div>
		<div class="m_buyerUpdateSideMenu_cancelBlur" id="cancelBlur"></div>
		<div class="m_buyerUpdateSideMenu_cancelRegion" id="cancelRegion">
			<form name="buyerCancel" method="get" th:action="@{/buyer/buyerCancelProcess}">
				<div class="m_buyerUpdateSideMenu_cancelTitle" th:text="#{membership.withdrawal}">회원탈퇴</div>
				<div id="cancelPage1">
					<div class="m_buyerUpdateSideMenu_cancelSubTitle" th:text="#{membership.delete.prompt}">계정을 삭제하시려면 암호를 입력해 주세요.</div>
					<div class="m_buyerUpdateSideMenu_exPwRegion" id="exPwRegion">
						<label>
							<input type="password" class="m_buyerUpdateSideMenu_exPwInput" id="exPwInput">
							<div class="m_buyerUpdateSideMenu_exPwTitle" id="exPwTitle" th:text="#{current.password}">현재암호</div>
						</label>
						<div class="m_buyerUpdateSideMenu_exPwMsg" id="exPwMsg"></div>
					</div>
					<div class="m_buyerUpdateSideMenu_cancelNextBtn">
						<label>
							<div class="m_buyerUpdateSideMenu_cancelNextBtnName" th:text="#{account.delete}">계정삭제</div>
							<input type="button" class="m_buyerUpdateSideMenu_none" id="nextCancelBtn" disabled="disabled">
						</label>
					</div>
				</div>
				<div id="cancelPage2" class="m_buyerUpdateSideMenu_none">
					<div class="m_buyerUpdateSideMenu_checkTitle" th:text="#{membership.delete.confirm}">정말 계정을 삭제하시겠습니까?</div>
					<div class="m_buyerUpdateSideMenu_cancelNextBtn">
						<label>
							<div class="m_buyerUpdateSideMenu_cancelSubmitBtn" th:text="#{delete}">삭제</div>
							<input type="submit" class="m_buyerUpdateSideMenu_none" disabled="disabled" id="cancelOkBtn">
						</label>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>